body {
  scroll-behavior: smooth !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: 300;
  line-height: 1.5;
  word-break: break-word;
  word-wrap: break-word;
  font-size: 16px;
  font-family: 'Inter', 'sans-serif';
  color: black;
  max-width: inherit !important;
  padding: 0 !important;
  overflow-x: hidden;
}

html {
  font-size: 16px !important;
}

main {

}

pre {
  overflow-x: hidden;
  white-space: normal;
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: inherit;
}

.content-wrapper {
  max-width: 1300px;
  margin: 0 auto;
  padding: 0 50px;
}

@media screen and (max-width: 800px) {
  .content-wrapper {
    padding: 0 30px;
  }
}

@media screen and (max-width: 450px) {
  .content-wrapper {
    padding: 0 20px;
  }
}
